<div class="row py-4 px-5 no-gutters mt-3">
  <div class="col-sm-12 col-md-6">
    <h3 class="font-light">Scores & Certificates</h3>
  </div>
</div>
<div class="bg-light">
  <div class="table-responsive border-top manage-table px-4 py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10 offset-md-1">
          <div id="accordion" role="tablist" class="m-t-5" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-test" aria-hidden="true"></i>
                    <h3>Test A</h3>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-xs-6">
                        <strong>Score:</strong> 70/100
                      </div>
                      <div class="col-lg-3 col-md-6 col-xs-6">
                        <strong>Completed:</strong> Yes
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>

              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                   aria-expanded="false" style="">
                <div class="card-block">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                      <strong>Total no. of questions:</strong> 10
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                      <strong>No. of correct answers:</strong> 7
                    </div>
                  </div>
                  <button class="btn btn-sm btn-teal text-white mt-2">Load Questions & Answers</button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-certificate-o" aria-hidden="true"></i>
                    <h3>Certificate B</h3>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <p><strong>Type: </strong> BEng.</p>
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-letter-o" aria-hidden="true"></i>
                    <h3>Recommendation Letter</h3>
                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>From: </strong> Prof. Will Smith</p>
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>

              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                   aria-expanded="false" style="">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
