<div class="row py-4 px-5 no-gutters mt-3">
  <div class="col-sm-12 col-md-6">
    <h3 class="font-light">Scores & Certificates</h3>
  </div>
  <div class="col-sm-12 col-md-6">
    <ul class="list-inline dl mb-0 float-left float-md-right">
      <li class="list-inline-item text-info mr-3">
        <a href="javascript:void(0)" data-toggle="modal"
           data-target="#modal-default_add_testimonial">
          <button class="btn btn-circle btn-success text-white">
            <i class="fa fa-plus text-white"></i>
          </button>
        </a>
        <div class="modal fade" id="modal-default_add_testimonial">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header d-block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Testimonial</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group has-feedback">
                    <p class="text-red">{{errorMessage}}</p>
                    <p class="text-green">{{successMessage}}</p>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="docutype">Document Type</label>
                      <ul id="docutype" class="chec-radio">
                        <li class="pz">
                          <label class="radio-inline">
                            <input type="radio" id="test_1" name="testimonialType"
                                   [(ngModel)]="testimonialType" class="pro-chx" value="0" checked>
                            <div class="clab">Certificate</div>
                          </label>
                        </li>
                        <li class="pz">
                          <label class="radio-inline">
                            <input type="radio" checked="" id="pro-chx-residential" [(ngModel)]="testimonialType"
                                   name="testimonialType" class="pro-chx" value="1">
                            <div class="clab">Recommendation</div>
                          </label>
                        </li>
                        <li class="pz">
                          <label class="radio-inline">
                            <input type="radio" id="pro-chx-open" name="testimonialType" [(ngModel)]="testimonialType"
                                   class="pro-chx" value="2">
                            <div class="clab">Others</div>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-10">
                      <label for="studentUsername">Student username</label>
                      <input type="text" class="form-control" id="studentUsername"
                             name="studentUsername"
                             [(ngModel)]="student">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="custom-file col-10">
                      <input type="file" class="custom-file-input" id="customFile" (change)="fileChange($event)">
                      <label class="custom-file-label" for="customFile">Select Document</label>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-10 mt-3">
                      <div class="pull-right">
                        <button type="button" class="btn-success btn">Send</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="bg-light">
  <div class="table-responsive border-top manage-table px-4 py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10 offset-md-1">
          <div id="accordion" role="tablist" class="mt-15" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-test" aria-hidden="true"></i>
                    <h3>Test A</h3>
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-xs-6">
                        <strong>Score:</strong> 70/100
                      </div>
                      <div class="col-lg-3 col-md-6 col-xs-6">
                        <strong>Completed:</strong> Yes
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>

              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                   aria-expanded="false" style="">
                <div class="card-block">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                      <strong>Total no. of questions:</strong> 10
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                      <strong>No. of correct answers:</strong> 7
                    </div>
                  </div>
                  <button class="btn btn-sm btn-teal text-white mt-2">Load Questions & Answers</button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-certificate-o" aria-hidden="true"></i>
                    <h3>Certificate B</h3>
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <p><strong>Type: </strong> BEng.</p>
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-letter-o" aria-hidden="true"></i>
                    <h3>Recommendation Letter</h3>
                    <div class="row">
                      <div class="col-md-12">
                        <p><strong>From: </strong> Prof. Will Smith</p>
                      </div>
                    </div>
                    <small class="pull-left ml-5_3 mb--15 mt-1"><cite>10th September, 2019</cite></small>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>

              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                   aria-expanded="false" style="">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <div class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                     aria-controls="collapseOne" class="collapsed">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <h3>Collapsible Group Item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                   aria-expanded="false">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                  wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                  farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
