<div class="register-box">
  <div class="register-logo">
    <img width="40%" src="assets/dist/img/logo.png">
    <a routerLink="">
      <div style="font-size: 16pt;">
        <b>B</b>lockchain <b>O</b>f <b>L</b>earning <b>L</b>ogs
      </div>
    </a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Apply to join BOLL</p>

    <form action="" name="registerForm" method="post">
      <div class="form-group has-feedback">
        <p class="text-red">{{errorMessage}}</p>
        <p class="text-green">{{successMessage}}</p>
      </div>
      <div class="form-group has-feedback" *ngIf="!advancedRegistrationEnabled && sessionToken != null && userId != null">
        <input type="text" name="username" class="form-control"
               placeholder="Username" [(ngModel)]="username">
        <span class="glyphicon glyphicon-key form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken != null && userId != null">
        <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" value>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken != null && userId != null">
        <input type="password" name="cpassword"
               [(ngModel)]="cpassword" class="form-control" placeholder="Confirm password" value>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken == null || userId == null">
        <input type="text" class="form-control" name="schoolName"
               [(ngModel)]="schoolName" placeholder="Name of Institution">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken == null || userId == null">
        <input type="text" class="form-control" name="schoolWebsite"
               [(ngModel)]="schoolWebsite" placeholder="Official Website of Institution">
        <span class="glyphicon glyphicon-globe form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken == null || userId == null">
        <input type="email" class="form-control" required name="emailAddress"
               [(ngModel)]="email" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="sessionToken == null || userId == null">
        <input type="text" class="form-control" name="blockchainAddress"
               [(ngModel)]="blockchainAddress" placeholder="Blockchain Address">
        <span class="glyphicon glyphicon-qrcode form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a routerLink="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
          <button type="button" (click)="register()" class="btn btn-primary btn-block btn-flat">
            <span *ngIf="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
            <span *ngIf="!loading">Register</span></button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a routerLink="/login" class="text-center">I already have an account</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
