.control-sidebar-bg, .control-sidebar {
  width: 340px;
  right: -340px;
}
.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open+.control-sidebar-bg {
  right: 0px;
}
.control-sidebar.control-sidebar-open {
  height: 100%;
}
.alert-success {
  background-color: #dff0d8!important;
  border-color: #d0e9c6!important;
  color: #3c763d!important;
}
.alert {
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin: 10px;
}
