<aside *ngIf="user !== undefined && user !== null" class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="text-center image">
        <img src="assets/dist/img/me.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="text-center info">
        <p>Patrick Ocheja</p>
        <a routerLink="#"><i class="fa fa-circle text-success"></i> 0xbd7bf2c080113256422e7580d848313b90c2bbd2</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-offset-1 col-xs-10 col-md-10">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white">
            <div class="widget-user-image hidden">
              <img src="assets/dist/img/barcode.png">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username text-center text-white">BOLL ID Card</h3>
            <div class="widget-user-image text-center">
              <img src="assets/dist/img/barcode.png">
            </div>
            <p class="text-center margin">ISSUED: 2018 APR 10</p>
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
    </div>
  </section>
  <!-- /.sidebar -->
</aside>
