<aside class="left-sidebar pt-md-0" *ngIf="loggedIn">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav pt-sm-5 pt-md-0">
      <ul id="sidebarnav">
        <li *ngIf="ACTIVE_USER_TYPE == USER_TYPE.LEARNER" class="{{activePage == 'schools' ? 'active' : ''}}">
          <a routerLink="/schools" aria-expanded="false" id="schoolsMenuLink"
             [ngClass]="activePage == 'schools' ? '' : 'active'"><i class="mdi mdi-school"></i><span class="hide-menu">Schools </span></a>
        </li>
        <li *ngIf="ACTIVE_USER_TYPE == USER_TYPE.PROVIDER" class="{{activePage == 'learners' ? 'active' : ''}}">
          <a routerLink="/learners" id="learnersMenuLink" aria-expanded="false"
             [ngClass]="activePage == 'learners' ? '' : 'active'"><i class="mdi mdi-school"></i><span class="hide-menu">Learners </span></a>
        </li>
        <li class="{{activePage == 'analytics' ? 'active' : ''}}">
          <a routerLink="/analytics" id="analyticsMenuLink" aria-expanded="false"
             [ngClass]="activePage == 'analytics' ? '' : 'active'"><i class="mdi mdi-view-dashboard"></i><span
            class="hide-menu">Analytics</span></a>
        </li>
        <li class="{{activePage == 'learning-records' ? 'active' : ''}}">
          <a routerLink="/learning-records" id="learning-recordsMenuLink" aria-expanded="false"
             [ngClass]="activePage == 'learning-records' ? '' : 'active'"><i class="mdi mdi-book"></i><span
            class="hide-menu">Learning Logs</span></a>
        </li>
        <li class="nav-devider"></li>
        <li class="{{activePage == 'permissions' ? 'active' : ''}}">
          <a routerLink="/permissions" id="permissionsMenuLink" aria-expanded="false"
             [ngClass]="activePage == 'permissions' ? '' : 'active'"><i class="mdi mdi-lock"></i><span
            class="hide-menu">Permissions</span></a>
        </li>
        <li class="{{activePage == 'settings' ? 'active' : ''}}" *ngIf="isAdminUser()">
          <a routerLink="/settings" id="settingsMenuLink" aria-expanded="false"
             [ngClass]="activePage == 'settings' ? '' : 'active'"><i class="mdi mdi-settings"></i><span
            class="hide-menu">Settings</span></a>
        </li>
        <div class="navbar-collapse d-inline-block pull-right">
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="mdi mdi-36px mdi-account-card-details"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="dropdown-user">
                  <li>
                    <div class="dw-user-box">
                      <div class="box m-b-10" id="bollIdCard">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header text-white">
                          <!-- /.widget-user-image -->
                          <h3 class="widget-user-username text-center text-white">BOLL ID Card</h3>
                          <div class="widget-user-image text-center pb-34">
                            <img src="{{BASE_PATH}}qrcode/{{bollAddress}}" width="90px">
                          </div>
                        </div>
                      </div>
                      <div class="u-text">
                        <a (click)="downloadIDCard()" href="javascript:void(0)" class="btn btn-rounded btn-success btn-sm">Download
                          ID</a>
                      </div>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<aside class="main-sidebar d-none" *ngIf="loggedIn">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li *ngIf="ACTIVE_USER_TYPE == USER_TYPE.LEARNER" class="{{activePage == 'schools' ? 'active' : ''}}">
        <a routerLink="/schools">
          <i class="fa fa-home"></i> <span>Schools</span>
        </a>
      </li>
      <li *ngIf="ACTIVE_USER_TYPE == USER_TYPE.PROVIDER" class="{{activePage == 'learners' ? 'active' : ''}}">
        <a routerLink="/learners">
          <i class="fa fa-home"></i> <span>Learners</span>
        </a>
      </li>
      <li>
        <a routerLink="/analytics">
          <i class="fa fa-line-chart"></i> <span>Analytics</span>
        </a>
      </li>
      <li class="{{activePage == 'learning-records' ? 'active' : ''}}">
        <a routerLink="/learning-records">
          <i class="fa fa-th"></i> <span>Learning Logs</span>
        </a>
      </li>
      <li class="{{activePage == 'permissions' ? 'active' : ''}}">
        <a routerLink="/permissions">
          <i class="fa fa-key"></i> <span>Permissions</span>
        </a>
      </li>
      <li class="{{activePage == 'settings' ? 'active' : ''}}" *ngIf="isAdminUser()">
        <a routerLink="/settings">
          <i class="fa fa-gear"></i> <span>Settings</span>
        </a>
      </li>
    </ul>
    <app-header class="navbar-collapse"></app-header>
  </section>
  <!-- /.sidebar -->
</aside>
