<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <h3 class="text-themecolor">{{mainTitle}}</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">{{subTitle}}</a></li>
        <li class="breadcrumb-item active">{{mainTitle}}</li>
      </ol>
    </div>

  </div>
  <div class="row">
    <div class="col-md-offset-0 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Permissions - Granted Requests</h4>
          <div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
          <div class="table-responsive">
            <table class="table color-table success-table">
              <thead>
              <tr>
                <th style="width: 7%">#</th>
                <th>School</th>
                <th>Contract Address</th>
                <th>Record Type</th>
                <th>Permissions</th>
              </tr>
              </thead>
              <tbody *ngIf="permissionsInfo?.length > 0">
              <tr *ngFor="let permissionInfo of permissionsInfo; let i = index;">
                <td>{{i+1}}</td>
                <td class="products-list product-list-in-box"
                    [innerHTML]="getSchoolDetails_Name(permissionInfo.userAddress)">
                </td>
                <td [innerHTML]="permissionInfo.contractAddress | highlight : searchText">
                </td>
                <td>
                  <a target="_blank" href="{{recordInfos[permissionInfo.contractAddress].recordType}}"
                     *ngIf="recordInfos[permissionInfo.contractAddress]" class="text-capitalize"
                     [innerHTML]=" (recordInfos[permissionInfo.contractAddress].recordLabel) | highlight : searchText">
                  </a>
                </td>
                <td [innerHTML]="permissionInfo.status | highlight : searchText"></td>
              </tr>
              <tr
                *ngIf="learningRecords !== undefined && learningRecords !== null && itemsPerPage < learningRecords.length && !lastPage">
                <button type="button" (click)="loadMoreRecords(learningRecords)"
                        class="btn btn-success btn-sm"> Load More
                </button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-offset-0 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Permissions - Pending Requests</h4>
          <div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
          <div class="table-responsive">
            <table class="table color-table success-table">
              <thead>
              <tr>
                <th style="width: 7%">#</th>
                <th>School</th>
                <th>Contract Address</th>
                <th>Record Type</th>
                <th>Requested Permissions</th>
              </tr>
              </thead>
              <tbody *ngIf="rawInfos.length > 0">
              <tr *ngFor="let pendingPermissionInfo of pendingPermissionsInfo; let i = index;">
                <td>{{i+1}}</td>
                <td class="products-list product-list-in-box"
                    [innerHTML]="getSchoolDetails_Name(pendingPermissionInfo.userAddress, true)"></td>
                <td [innerHTML]="pendingPermissionInfo.contractAddress | highlight : searchText_p"></td>
                <td>
                  <a target="_blank" href="{{recordInfos[pendingPermissionInfo.contractAddress].recordType}}"
                     *ngIf="recordInfos[pendingPermissionInfo.contractAddress]" class="text-capitalize"
                     [innerHTML]="(recordInfos[pendingPermissionInfo.contractAddress].recordLabel) | highlight : searchText_p">
                  </a>
                </td>
                <td [innerHTML]="pendingPermissionInfo.status | highlight : searchText_p"></td>
              </tr>
              <tr
                *ngIf="pendingPermissionsInfo?.length > 0 && learningRecords !== undefined && learningRecords !== null && itemsPerPage < learningRecords.length && !lastPage">
                <button type="button" (click)="loadMoreRecords(learningRecords)"
                        class="btn btn-success btn-sm">Load More
                </button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
