<div class="col-md-4">
  <!-- PRODUCT LIST -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Activities Log</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" *ngIf="eventHolder !== null && eventHolder !== undefined">
      <div class="activity-feed pre-scrollable">
        <ng-container *ngFor="let event of eventHolder['events']; let i = index">
          <div class="feed-item">
            <div class="date">{{event.timestamp * 1000 | date}}</div>
            <div class="text" [innerHTML]="getEventText(event, i)"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</div>
