<div class="col-md-4">
  <!-- PRODUCT LIST -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Activities Log</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body" *ngIf="eventHolder !== null && eventHolder !== undefined">
      <ul class="products-list product-list-in-box">
        <ng-container *ngFor="let event of eventHolder['events']">
          <li class="item" *ngIf="actionNames.RC === event.actionName && activeRC === event.affectedContractAddress">
            <div class="product-img">
                <span class="fa text-default fa-server icocenter"></span>
              </div>
              <div class="product-info">
                <span class="product-description">
                          You initiated BOLL {{event.senderAddress}}
                        </span>
                <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
              </div>
          </li>
          <li class="item" *ngIf="actionNames.PIC === event.actionName">
            <div class="product-img">
              <span class="fa text-green fa-file-text-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You created an index contract for {{event.participantName == undefined ? event.participantAddress : event.participantName}}
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                An index contract was created for you by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.UIC === event.actionName">
            <div class="product-img">
              <span class="fa text-green fa-file-text-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You created an index contract for {{event.participantName == undefined ? event.participantAddress : event.participantName}}
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                An index contract was created for you by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.LLPC === event.actionName">
            <div class="product-img">
              <span class="fa text-green fa-file-text-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You created a new learning log for {{event.participantName == undefined ? event.participantAddress : event.participantName}}
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                An new learning log was created for you by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.APPROVE_INSTITUTE === event.actionName && activeRC === event.affectedContractAddress">
            <div class="product-img">
              <span class="fa text-info fa-bookmark-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You approved {{event.participantName == undefined ? event.participantAddress : event.participantName}} to join BOLL
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                Your request to Join BOLL was approved by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.REGISTER === event.actionName && activeRC === event.affectedContractAddress">
            <div class="product-img">
              <span class="fa text-green fa-user-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You registered {{event.participantName == undefined ? event.participantAddress : event.participantName}} on BOLL
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                Your BOLL registration was completed by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.PAIR_USER_WITH_BOLL_ADDRESS === event.actionName && activeRC === event.affectedContractAddress">
            <div class="product-img">
              <span class="fa text-info fa-link icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You paired {{event.participantName == undefined ? event.participantAddress : event.participantName}} to their user ID
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                Your BOLL account was paired to {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.ASSIGN_INDEX_CONTRACT === event.actionName && activeRC === event.affectedContractAddress">
            <div class="product-img">
              <span class="fa text-info fa-link icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You assigned an Index Contract to {{event.participantName == undefined ? event.participantAddress : event.participantName}} on BOLL
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                An Index Contract has been assigned to you by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
          <li class="item" *ngIf="actionNames.INSERT_LEARNING_RECORD === event.actionName">
            <div class="product-img">
              <span class="fa text-green fa-certificate-o icocenter"></span>
            </div>
            <div class="product-info">
                <span class="product-description" *ngIf="event.senderAddress === user['accounts'][0]">
                  You created a new learning log for {{event.participantName == undefined ? event.participantAddress : event.participantName}}
                </span>
              <span class="product-description" *ngIf="event.participantAddress === user['accounts'][0]">
                An new learning log was created for you by {{event.senderName == undefined
                ? event.senderAddress : event.senderName}}
                </span>
              <span class="label label-default pull-right">{{event.timestamp * 1000 | date}}</span>
            </div>
          </li>
        </ng-container>

        <!-- /.item -->
      </ul>
    </div>
    <!-- /.box-body -->
  </div>
</div>
