<div class="navbar-collapse">
  <!-- ============================================================== -->
  <!-- toggle and nav items -->
  <!-- ============================================================== -->
  <ul class="navbar-nav mr-auto mt-md-0">
    <!-- This is  -->
    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
    <!-- ============================================================== -->
  </ul>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <ul class="navbar-nav my-lg-0">
    <!-- ============================================================== -->
    <!-- Profile -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-36px mdi-account-card-details"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right scale-up">
        <ul class="dropdown-user">
          <li>
            <div class="dw-user-box">
              <div class="box m-b-10" id="bollIdCard">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white">
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username text-center text-white">BOLL ID Card</h3>
                  <div class="widget-user-image text-center pb-34">
                    <img src="/boll/qrcode/{{bollAddress}}" width="90px">
                  </div>
                </div>
              </div>
              <div class="u-text">
                <a (click)="downloadIDCard()" href="javascript:void(0)" class="btn btn-rounded btn-success btn-sm">Download
                  ID</a>
              </div>
            </div>
          </li>
          <li role="separator" class="divider"></li>
          <li><a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<header class="main-header d-none" *ngIf="loggedIn">

  <!-- Logo -->
  <a routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">BOLL</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <img class="img-circle" width="25px" style="margin-right: 8px" src="assets/dist/img/logo.png">
      BOLL System
    </span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" *ngIf="true">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-o"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-md-offset-1 col-xs-offset-1 col-xs-10 col-md-10">
                  <!-- Widget: user widget style 1 -->
                  <div class="box box-widget widget-user-2" id="bollIdCard2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header text-white">
                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username text-center text-white">BOLL ID Card</h3>
                      <div class="widget-user-image text-center pb-34">
                        <img src="/boll/qrcode/{{bollAddress}}">
                      </div>
                    </div>
                  </div>
                  <!-- /.widget-user -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a (click)="downloadIDCard()" href="javascript:void(0)" class="btn btn-default btn-flat">Download</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
