<!-- Main row -->
<section class="content-header">
  <h1>
    {{mainTitle}}
    <small>{{subTitle}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="#"><i class="fa fa-dashboard"></i> {{mainTitle}}</a></li>
    <li class="active"><a routerLink="#">{{subTitle}}</a></li>
  </ol>
</section>
<!-- Small boxes (Stat box) -->
<div style="display: none" class="row">
  <div class="col-md-offset-1 col-md-10 inner-view">
    <div class="row">
      <div class="col-lg-3 col-xs-12 col-md-6">
        <!-- small box -->
        <div class="small-box bg-aqua small-box-szd">
          <div class="inner">

          </div>
          <a routerLink="/learning-records">
            <div class="icon">
              <i class="fa fa-files-o"></i>
            </div>
            <a routerLink="/learning-records" class="small-box-footer">
              <h3>My Learning Records</h3>
            </a>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-12 col-md-6">
        <!-- small box -->
        <div class="small-box bg-green small-box-szd">
          <div class="inner">
          </div>
          <a routerLink="/schools">
            <div class="icon">
              <i class="ion ion-ios-home"></i>
            </div>
            <a routerLink="/schools" class="small-box-footer">
              <h3>My Schools</h3>
            </a>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-12 col-md-6">
        <!-- small box -->
        <div class="small-box bg-yellow small-box-szd">
          <div class="inner">
          </div>
          <a routerLink="/permissions">
            <div class="icon">
              <i class="ion ion-locked"></i>
            </div>
            <a routerLink="/permissions" class="small-box-footer">
              <h3>Permissions</h3>
            </a>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-12 col-md-6">
        <!-- small box -->
        <div class="small-box bg-purple small-box-szd">
          <div class="inner">
          </div>
          <a routerLink="/settings">
            <div class="icon">
              <i class="ion ion-settings"></i>
            </div>
            <a routerLink="/settings" class="small-box-footer">
              <h3>Settings</h3>
            </a>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </div>
</div>
<!-- /.row -->
<!-- /.row -->
