<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-4 col-xs-8">
            <div class="form-group">
              <input type="hidden" name="providerAddress" id="providerAddress" [(ngModel)]="providerAddress">
              <label>Provider </label>
              <ng-select [(ngModel)]="providerAddress" (selected)="onSelectedProvider($event)" [options]="providers" class="" name="providers" style="width: 100%;">
                <ng-template
                  #optionTemplate
                  let-option="option">
                  <div class="select2-results__option {{option?.value.toLowerCase()}}"></div>
                  {{option?.label}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div class="form-group" style="margin-top: 7px;">
              <br />
              <button class="btn btn-success btn-sm" type="button" (click)="loadLearningRecords('provider')">Reload</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-8">
            <div class="form-group">
              <label>Record Type </label>
              <ng-select [(ngModel)]="recordType" (selected)="onSelected($event)" [options]="recordTypesList" class="" name="recordTypes" style="width: 100%;">
                <ng-template
                  #optionTemplate
                  let-option="option">
                  <div class="select2-results__option {{option?.value.toLowerCase()}}"></div>
                  {{option?.label}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div class="form-group" style="margin-top: 7px;">
              <br />
              <button class="btn btn-success btn-sm" type="button" (click)="loadLearningRecords('recordType')">Reload</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div *ngIf="currentView === 'learning_records'" class="box-body">
        <div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
        <table class="table table-bordered" *ngIf="learningRecords.length > 0">
          <tr>
            <th style="width: 10px">#</th>
            <th>Learning Contracts</th>
            <th></th>
          </tr>
          <tr *ngFor="let record of learningRecords; let i = index;">
            <td>{{i+1}}</td>
            <td>{{record}}</td>
            <td>
              <button type="button" (click)="loadLearningRecordInfo(record);" class="btn btn-sm btn-default">Details</button>
              <div class="info" *ngIf="recordInfos !== undefined && recordInfos[record] !== undefined">
                <h5>created by: {{recordInfos[record].provider}}</h5>
                <h5>pending requests: {{recordInfos[record].numberOfPendingRequests}}</h5>
                <h5>
                  learning records: {{recordInfos[record].numberOfLearningRecords}}
                  <button type="button" (click)="loadLearningRecordDeepInfo(record, recordInfos[record].numberOfLearningRecords);" class="btn btn-sm btn-default">Info</button>
                </h5>
                <h5>record type: {{recordInfos[record].recordType}}</h5>
              </div>
            </td>
          </tr>
        </table>
        <table class="table table-bordered" *ngIf="rawInfos.length > 0">
          <caption>Learning Logs Access Parameters</caption>
          <tr>
            <th style="width: 10px">#</th>
            <th>Query Hash</th>
            <th>Query Result Hash</th>
            <th>Provider(Writer)</th>
            <th></th>
          </tr>
          <tr *ngFor="let rawInfo of rawInfos; let i = index;">
            <td>{{i+1}}</td>
            <td>{{rawInfo.queryHash}}</td>
            <td>{{rawInfo.queryResultHash}}</td>
            <td>{{rawInfo.writer}}</td>
            <td>
              <button type="button" (click)="loadLearningRecordInfo(record);" class="btn btn-sm btn-default">Details</button>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="currentView === 'analytics'" class="box-body">
        <div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
        <table class="table table-bordered" *ngIf="rawInfos.length > 0">
          <caption>Learning Logs Access Parameters</caption>
          <tr>
            <th style="width: 10px">#</th>
            <th>Query Hash</th>
            <th>Query Result Hash</th>
            <th>Provider(Writer)</th>
            <th></th>
          </tr>
          <tr *ngFor="let rawInfo of rawInfos; let i = index;">
            <td>{{i+1}}</td>
            <td>{{rawInfo.queryHash}}</td>
            <td>{{rawInfo.queryResultHash}}</td>
            <td>{{rawInfo.writer}}</td>
            <td>
              <button type="button" (click)="loadLearningRecordInfo(record);" class="btn btn-sm btn-default">Details</button>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="currentView === 'permissions'" class="box-body">
        <div class="alert alert-info" *ngIf="showMessage">{{message}}</div>
        <table class="table table-bordered" *ngIf="learningRecords.length > 0">
          <tr>
            <th style="width: 10px">#</th>
            <th>Learning Contracts</th>
            <th></th>
          </tr>
          <tr *ngFor="let record of learningRecords; let i = index;">
            <td>{{i+1}}</td>
            <td>{{record}}</td>
            <td>
              <button type="button" (click)="loadLearningRecordInfo(record);" class="btn btn-sm btn-default">Details</button>
              <div class="info" *ngIf="recordInfos !== undefined && recordInfos[record] !== undefined">
                <h5>created by: {{recordInfos[record].provider}}</h5>
                <h5>pending requests: {{recordInfos[record].numberOfPendingRequests}}</h5>
                <h5>
                  learning records: {{recordInfos[record].numberOfLearningRecords}}
                  <button type="button" (click)="loadLearningRecordPermissions(record, 3);" class="btn btn-sm btn-default">Info</button>
                </h5>
                <h5>record type: {{recordInfos[record].recordType}}</h5>
              </div>
            </td>
          </tr>
        </table>
        <table class="table table-bordered" *ngIf="rawInfos.length > 0">
          <caption>Learning Logs Access Parameters</caption>
          <tr>
            <th style="width: 10px">#</th>
            <th>Query Hash</th>
            <th>Query Result Hash</th>
            <th>Provider(Writer)</th>
            <th></th>
          </tr>
          <tr *ngFor="let rawInfo of rawInfos; let i = index;">
            <td>{{i+1}}</td>
            <td>{{rawInfo.queryHash}}</td>
            <td>{{rawInfo.queryResultHash}}</td>
            <td>{{rawInfo.writer}}</td>
            <td>
              <button type="button" (click)="loadLearningRecordInfo(record);" class="btn btn-sm btn-default">Details</button>
            </td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
      <!--<div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a routerLink="#">&laquo;</a></li>
          <li><a routerLink="#">1</a></li>
          <li><a routerLink="#">2</a></li>
          <li><a routerLink="#">3</a></li>
          <li><a routerLink="#">&raquo;</a></li>
        </ul>
      </div>-->
    </div>
    <!-- /.box -->
  </div>
</div>
