<div class="row">
  <app-register-participant *ngIf="showAddForm" (showForm)="setShowAddForm($event)"></app-register-participant>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Registered Participants</h3>
        <span class="pull-right">
          <button type="button" (click)="setShowAddForm(true)" class="btn btn-sm btn-success">Add</button>
        </span>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Address</th>
            <th>Index Contract</th>
            <th>Other Id</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let participant of registeredParticipants; let i = index">
            <td>{{i+1}}.</td>
            <td>{{participant.eth_address}}</td>
            <td>{{participant.index_contract_address}}</td>
            <td>
              {{participant.other_id}}
            </td>
            <td>
              {{participant.is_learning_provider?'Learning Provider':'Learner'}}
            </td>
            <td>{{participant.status?'Enabled':'Disabled'}}</td>
            <td><a href="/contracts/{{participant.eth_address}}/{{participant.index_contract_address}}">View</a></td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
