<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Provider </label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected"></option>
                <option *ngFor="let provider of providers">{{provider}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label>Record Type </label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">All</option>
                <option ></option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="form-group" style="margin-top: 7px;">
              <br />
              <button class="btn btn-success btn-sm" type="button" (click)="loadLearningRecords()">Reload</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Address</th>
            <th></th>
          </tr>
          <tr *ngFor="let record of learningRecords; let i = index;">
            <td>{{i}}</td>
            <td>{{record}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-info">Info</button>
            </td>
            <td><span class="badge bg-red">55%</span></td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-0 col-lg-12 col-md-12" *ngIf="noAccount">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome {{user.name}}</h4>
      <p>We noticed that you are yet to setup a public ID for your learning blockchain account. This is required for us
        to be able to track your learning records for you across different learning platforms.</p>
      <br/>
      <button data-toggle="control-sidebar" class="btn btn-success btn-sm margin-r-5" type="button">Setup Learning ID
      </button>
    </div>
  </div>
  <app-register-participant *ngIf="showAddForm" (showForm)="setShowAddForm($event)"></app-register-participant>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Registered Participants</h3>
        <span class="pull-right">
          <button type="button" (click)="setShowAddForm(true)" class="btn btn-sm btn-success">Add</button>
        </span>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 10px">#</th>
            <th>Address</th>
            <th>Index Contract</th>
            <th>Other Id</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let participant of registeredParticipants; let i = index">
            <td>{{i+1}}.</td>
            <td>{{participant.eth_address}}</td>
            <td>{{participant.index_contract_address}}</td>
            <td>
              {{participant.other_id}}
            </td>
            <td>
              {{participant.is_learning_provider?'Learning Provider':'Learner'}}
            </td>
            <td>{{participant.status?'Enabled':'Disabled'}}</td>
            <td><a href="/contracts/{{participant.eth_address}}/{{participant.index_contract_address}}">View</a></td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
