@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.box-header{
  padding: 20px;
}

body {
  background: #f2f2f2;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

h3 {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.box-card-part {
  cursor: pointer;
}

.box-card-part {
  background: #FFF;
  border-radius: 10px;
  padding: 20px 10px;
}

.box-card-part:hover {
  background: #999;
}

.box-card-part:hover .fa,
.box-card-part:hover .title,
.box-card-part:hover .text,
.box-card-part:hover a {
  color: #FFF;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183D7;
}

@media (min-width: 1200px) {
  .col-lg-6 {
    padding: 5px 5px 0 5px;
  }
}

[type=checkbox].filled-in:checked + label:after {
  border: 2px solid #26c6da;
  background-color: #26c6da;
}
