<div class="register-box">
  <div class="register-logo">
    <img width="40%" src="assets/dist/img/logo.png">
    <a routerLink="">
      <div style="font-size: 16pt;">
        <b>B</b>lockchain <b>O</b>f <b>L</b>earning <b>L</b>ogs
      </div>
    </a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Login to BOLL</p>

    <form action="" name="loginForm" method="post">
      <div class="form-group has-feedback">
        <p class="text-red">{{errorMessage}}</p>
        <p class="text-green">{{successMessage}}</p>
      </div>
      <div class="form-group has-feedback" *ngIf="!advancedRegistrationEnabled">
        <input type="text" name="username" class="form-control"
               placeholder="Username" [(ngModel)]="username">
        <span class="glyphicon glyphicon-key form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" *ngIf="advancedRegistrationEnabled">
        <input type="file" name="keyFile"
               (change)="fileChange($event)" class="form-control" placeholder="Upload key file" value>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" value>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <div class="checkbox icheck">
          <label>
            <input type="checkbox" checked name="linkAccount" [(ngModel)]="linkAccount"> Link your BOLL account to this school
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <button type="button" (click)="login()" class="btn btn-primary btn-block btn-flat">
            <span *ngIf="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
            <span *ngIf="!loading">Login</span>
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a routerLink="/register" class="text-center">First time using BOLL? Register Now</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
