<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs manage-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#records" role="tab">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-file-text"></i></h4>
                                        </span>
            <span class="d-none d-md-block">Records</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#permissions" role="tab">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-lock"></i></h4>
                                        </span>
            <span class="d-none d-md-block">Permissions</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#history" role="tab">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-time"></i></h4>
                                        </span>
            <span class="d-none d-md-block">History</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#info" role="tab">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-info"></i></h4>
                                        </span>
            <span class="d-none d-md-block">Info</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <app-school-learning-records []="schoolAddress"></app-school-learning-records>
        <app-school-permissions [selectedSchoolAddress]="schoolAddress"></app-school-permissions>
        <app-access-logs [selectedSchoolAddress]="schoolAddress"></app-access-logs>
        <app-info [selectedSchoolAddress]="schoolAddress"></app-info>
      </div>
    </div>
  </div>
</div>
