<div class="row p-4">
  <div class="col-lg-12 col-md-12">
    <div class="row">
      <div class="col-md-3 col-xs-12 col-lg-3" style="background: #f7fafc;">
        <div class="pull-left" style="padding: 25px 0px;">
          <a routerLink="/schools"><i class="fa fa-arrow-left text-theme"></i></a>
        </div>
        <div class="box-card-part text-center p-large" *ngIf="school">

          <i class="fa fa-3x" aria-hidden="true">
            <img style="width:50%"
                 [src]="BASE_PATH + ((school.logo !== null && school.logo !== undefined) ? school.logo : 'assets/dist/img/school.png')">
          </i>

          <div class="title">
            <h3>{{school.name}}</h3>
          </div>

          <div class="text">
            <span>{{getLastEvent()}}</span>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-xs-12 pr-0 bg-light">
        <div class="mt-4">
          <div class="btn-group btn-group-toggle mb-lg-5 mb-sm-3 mb-md-4" data-toggle="buttons">
            <span class="btn btn-secondary {{showStudentRecords ? '' : 'active'}}" (click)="selectView(false);">
              <input type="radio" name="options" id="option1" autocomplete="off"
                     [checked]="showStudentRecords === false"> My Logs
            </span>
            <span class="btn btn-secondary" (click)="selectView(true);">
              <input type="radio" name="options" id="option2" autocomplete="off"
                     [checked]="showStudentRecords"> My Students' Logs
            </span>

          </div>
          <div class="col-md-6 col-xs-12 col-sm-12 mb-2 p-2 bg-light-dark" *ngIf="showStudentRecords">
            <form class="col-md-12 py-2">
              <h5>Search for student</h5>
              <div class="form-row row">
                <div class="col-md-6 mb-3">
                  <label for="course">Course</label>
                  <div class="input-group">
                    <select class="form-control bg-white custom-select" id="course" (change)="onCourseChange($event)"
                            name="selectedSchool" [(ngModel)]="selectedCourse" required>
                      <option value="" selected>Select Course</option>
                      <ng-container *ngFor="let course of myCourses">
                        <option value="{{course['id']}}">{{course['name']}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="student_sname">Student</label>
                  <div class="input-group">
                    <ng-autocomplete
                      name="student_sname"
                      [data]="usersList"
                      [searchKeyword]="keyword"
                      placeHolder="Start typing student's name to search..."
                      (selected)='selectEvent($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      historyIdentifier="countries"
                      [itemTemplate]="itemTemplate"
                      [(ngModel)]="selectedStudent"
                      [notFoundTemplate]="notFoundTemplate" class="w-80">
                    </ng-autocomplete>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-success" (click)="searchStudent()">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>

                    <ng-template #itemTemplate let-item>
                      <a [innerText]="item.name">
                        <button class="btn btn-xs btn-{{item.class}} pull-right"
                                (click)="(item.permission ||
                        (item.llpc_pending !== undefined && item.llpc_pending.length > 0) ||
                        (item.llpc_permitted !== undefined && item.llpc_permitted.length > 0))
                         ? false : permissionHandler(item, $event)">{{buttonTexts[item.class]}}</button>
                      </a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </form>
            <app-student-profile [selectedStudentAddress]="selectedStudentAddress" (userSelected)="loadRecordsForUser($event)"
                                 [selectedStudentName]="selectedStudentName" [mySchools]="studentSchools"></app-student-profile>
            <div class="content-loading" *ngIf="showStudentSearchLoader"></div>
          </div>
        </div>
        <div class="card bg-light" *ngIf="showStudentRecords">
          <h2 class="p-2 ml-3">Student's Data</h2>
          <div class="container-fluid mt-2" *ngIf="studentsCourses[selectedSchool] !== undefined">
            <div id="courses_carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner row w-100 mx-auto">
                <ng-container *ngFor="let course of studentsCourses[selectedSchool]; let i = index;">
                  <div class="carousel-item col-md-4 col-lg-4 col-sm-4 mr-0 {{i === 0 ? 'active' : ''}}">
                    <div class="card bg-light border border-info" style="height: 120px; max-height: 120px;">
                      <div class="card-body">
                        <h5 class="card-title">{{course._id}}</h5>
                        <p class="card-text">{{course.count}} Logs</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <a class="carousel-control-prev" href="#courses_carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#courses_carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs manage-tabs" role="tablist">
            <!--<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#records" role="tab" (click)="setActiveSubView('records')"
                 [ngClass]="activeSubView === 'records' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-file-text"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Records</span>
              </a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#scores_" role="tab" (click)="setActiveSubView('scores_')"
                 [ngClass]="(activeSubView === 'scores_' || activeSubView === 'scores' || activeSubView === '')? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-file-text"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Scores & Certs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#learning_records" role="tab"
                 (click)="setActiveSubView('learning_records')"
                 [ngClass]="activeSubView === 'learning_records' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-lock"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Learning Logs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#notifications" role="tab" (click)="setActiveSubView('notifications')"
                 [ngClass]="activeSubView === 'notifications' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-history"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Notifications</span>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!--<div class="tab-pane {{activeSubView === 'records' ? 'active' : ''}}" id="records" role="tabpanel">
              <app-school-learning-records [selectedSchoolAddress]="schoolAddress"></app-school-learning-records>
            </div>-->
            <div class="tab-pane {{(activeSubView === 'scores_' || activeSubView === 'scores' || activeSubView === '') ? 'active' : ''}}" id="scores_" role="tabpanel">
              <app-school-scores [selectedSchoolAddress]="selectedSchool"
                                 [selectedStudentAddress]="selectedStudent"></app-school-scores>
            </div>
            <div class="tab-pane {{activeSubView === 'learning_records' ? 'active' : ''}}" id="learning_records" role="tabpanel">
              <app-learning-logs-sort [selectedSchoolAddress]="selectedSchool" [selectedStudentAddress]="selectedStudent"></app-learning-logs-sort>
            </div>
            <div class="tab-pane {{activeSubView === 'notifications' ? 'active' : ''}}" id="notifications" role="tabpanel">
              <app-notifications [selectedSchoolAddress]="selectedSchool"
                                 [selectedStudentAddress]="selectedStudent"></app-notifications>
            </div>
          </div>
        </div>
        </div>
        <div class="card bg-light" *ngIf="showStudentRecords === false">
          <h2 class="p-2 ml-3">My Data</h2>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs manage-tabs" role="tablist">
            <!--<li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#records" role="tab" (click)="setActiveSubView('records')"
                 [ngClass]="activeSubView === 'records' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-file-text"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Records</span>
              </a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#scores" role="tab" (click)="setActiveSubView('scores')"
                 [ngClass]="activeSubView === 'scores' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-file-text"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Scores & Certs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#permissions" role="tab"
                 (click)="setActiveSubView('permissions')"
                 [ngClass]="activeSubView === 'permissions' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-lock"></i></h4>
                                        </span>
                <span class="d-none d-md-block">Permissions</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#history" role="tab" (click)="setActiveSubView('history')"
                 [ngClass]="activeSubView === 'history' ? 'active' : ''">
                                        <span class="hidden-sm-up">
                                            <h4><i class="text-white fa fa-history"></i></h4>
                                        </span>
                <span class="d-none d-md-block">History</span>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!--<div class="tab-pane {{activeSubView === 'records' ? 'active' : ''}}" id="records" role="tabpanel">
              <app-school-learning-records [selectedSchoolAddress]="schoolAddress"></app-school-learning-records>
            </div>-->
            <div class="tab-pane {{activeSubView === 'scores' ? 'active' : ''}}" id="scores" role="tabpanel">
              <app-school-scores [selectedSchoolAddress]="schoolAddress"></app-school-scores>
            </div>
            <div class="tab-pane {{activeSubView === 'permissions' ? 'active' : ''}}" id="permissions" role="tabpanel">
              <app-school-permissions [selectedSchoolAddress]="schoolAddress"></app-school-permissions>
            </div>
            <div class="tab-pane {{activeSubView === 'history' ? 'active' : ''}}" id="history" role="tabpanel">
              <app-access-logs [selectedSchoolAddress]="schoolAddress"></app-access-logs>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
