<div class="row py-4 px-5 no-gutters mt-3">
  <div class="col-sm-12 col-md-6">
    <h3 class="font-light">Manage Users</h3>
  </div>
  <div class="col-sm-12 col-md-6">
    <ul class="list-inline dl mb-0 float-left float-md-right">
      <li class="list-inline-item text-info mr-3">
        <a href="javascript:void(0)">
          <button class="btn btn-circle btn-success text-white" (click)="refreshEvents();">
            <i [ngClass]="refreshing ? 'glyphicon glyphicon-refresh glyphicon-refresh-animate' : 'fa fa-refresh'"></i>
          </button>
          <span class="ml-2 font-normal text-dark">Refresh</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="bg-light">
  <div class="table-responsive border-top manage-table px-4 py-3">
    <div class="activity-feed">
      <ng-container *ngFor="let event of eventHolder['events']">
        <div class="feed-item">
          <div class="date">{{event.timestamp * 1000 | date}}</div>
          <div class="text" [innerHTML]="getEventText(event)"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="d-flex align-items-center p-4 mt-2">
  <h3 class="font-light">1 members selected</h3>
  <div class="ml-auto">
    <button class="btn btn-danger text-white btn-rounded py-2 px-3">Next <i class="ti-arrow-right ml-2"></i>
    </button>
  </div>
</div>
