<div class="row py-4 px-5 no-gutters mt-3">
  <div class="col-sm-12 col-md-6">
    <h3 class="font-light">Permissions</h3>
  </div>
</div>
<div class="bg-light">
  <div class="border-top manage-table px-4 py-3">

    <div class="row" *ngIf="permissionsInfo?.length > 0">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let permissionInfo of permissionsInfo;">
        <div class="pull-right" style="padding: 50px 20px;">
          <a [href]="null"><i class="fa fa-ellipsis-v"></i></a>
        </div>

        <div class="box-card-part text-center">

          <div class="title">
            <p>
              <span class="text-bold">Record Type:</span>
              <a target="_blank" href="{{recordInfos[permissionInfo.contractAddress].recordType}}"
                 *ngIf="recordInfos[permissionInfo.contractAddress]" class="btn btn-xs btn-success text-uppercase">
                {{recordInfos[permissionInfo.contractAddress].recordType.split('/')[recordInfos[permissionInfo.contractAddress].recordType.split('/').length
              - 1]}}
              </a></p>
          </div>
          <div class="user-block">
            <span
              class="description">{{getLastEventOnContract(school.blockchainAddress, permissionInfo.contractAddress)}}</span>
          </div>

          <div class="text">
            <span><span class="text-bold">Permissions: </span><span
              class="text-green text-capitalize">{{permissionInfo.status}}</span> </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
